
section {
    max-width: 1000px;
    background: #dddddd;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 20px 50px;
}

div.search-area {

}

.search {

}

div.result {

}